{% extends "_global/index.html" %}

{% block main %}
    <!-- <h1>{{ category.name|escape }}</h1>
    <p>List of Auctions in this Category:</p> -->
    <ul>
        {% for auction in auctionsInCategory %}
            <li class="auction row">
                <div class="col-12 col-md-2">
                    <a href="{{ BASE }}auction/{{ auction.auction_id }}">
                        <img src="{{ BASE }}assets/uploads/{{ auction.auction_id }}.jpg" 
                        alt="Big Image -{{auction.auction_id}}" class="width-100-percent">
                    </a>
                </div>

                <div class="col-12 col-md-10">                    
                    <a href="{{ BASE }}auction/{{ auction.auction_id }}">
                        {{ auction.title|escape }}                    
                    </a>

                    <div class="row">                        
                        <span class="col-6 col-md-4">Starts At: {{ auction.starts_at|escape }}</span>
                        <span class="col-6 col-md-4">Ends At: {{ auction.ends_at|escape }}</span>
                        <!--span class="col-12 col-md-4">Starting Price: {{ auction.starting_price|escape }} &euro;</span-->
                        <span class="col-12 col-md-4">Last Offer Price: {{ auction.last_offer_price|escape }} &euro;</span>
                    </div>
                </div>      
                <!--img src="#" alt="Small Image 1 -{{auction.auction_id}}" class="auction-small-image image-1">
                <img src="#" alt="Small Image 2 -{{auction.auction_id}}" class="auction-small-image image-2"-->
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block naslov %}
{{ category.name|escape }}
{% endblock %}