<!DOCTYPE html>
<html>
    <head>
        <title>Peca Auction - {% block naslov %}Home{% endblock %}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ BASE }}assets/css/main.css">
        <link rel="stylesheet" href="{{ BASE }}assets/libs/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ BASE }}assets/libs/bootstrap/dist/css/bootstrap.min.css"> 

    </head>
    <body>
        <div class="container">
        <header>
            <div class="row">
                <div class="col col-sm banners">
                    <a href="{{ BASE }}">
                    <img src="{{ BASE }}assets/img/banner1.jpg" alt="Banner 1">
                    </a>
                </div>
                <div class="col col-sm">
                    <div class="social-icons text-right">
                        <!--a href="#"><img src="{{ BASE }}assets/img/social/linkedin.png" alt="LI"></a-->
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        <!--a href="#"><img src="{{ BASE }}assets/img/social/facebook.png" alt="FB"></a>-->
                        <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                        <!--a href="#"><img src="{{ BASE }}assets/img/social/twitter.png" alt="Tw"></a-->
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <!--a href="#"><img src="{{ BASE }}assets/img/social/instagram.png" alt="IN"></a-->
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <!--a href="#"><img src="{{ BASE }}assets/img/social/youtube.png" alt="YT"></a-->
                        <a href="https://www.youtube.com/"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                    </div>

                    <div class="search-box">
                        <form method="POST" action="{{ BASE }}search">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" name="q" class="form-control" placeholder="Search">
                                    <button type="submit" class="btn btn-primary input-group-append"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{{ BASE }}">Peca Auction</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="{{ BASE }}"><i class="fa fa-home"></i> Home<span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="{{ BASE }}categories"><i class="fa fa-list"></i> Categories</a>
                    <a class="nav-item nav-link" href="{{ BASE }}profile"><i class="fa fa-user"></i> Profile</a>
                    <a class="nav-item nav-link" href="{{ BASE }}contact"><i class="fa fa-phone"></i> Contact</a>
                    <a class="nav-item nav-link" href="{{ BASE }}log-out"><i class="fa fa-sign-out"></i> Logout</a>
                  </div>
                </div>
              </nav>
            
            
        </header>
        <main>
            {% block main %}
            {% endblock %}
        </main>
        <div class="card bookmark-card">
        <div class="bookmarks card-body">Loading Bookmarks...</div>
        </div>
        <footer class="site-footer">
            &copy; 2020 Peca Auction
        </footer>
    </div>

        <script>const BASE = '{{ BASE }}'</script>
        <script src="{{ BASE }}assets/js/bookmark.js"></script>
        <script src="{{ BASE }}assets/libs/jquery/dist/jquery.min.js"></script>
        <script src="{{ BASE }}assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>        
    </body>
</html>