{% extends "_global/index.html" %}

{% block main %}
<a href="#" onclick="addBookmark({{ auction.auction_id }});">Add to bookmark</a>
    <h1>{{ auction.title|escape }}</h1>
    <p>{{ auction.description }}</p>
    <p>Starting Price: {{ auction.starting_price }} EUR</p>
    <p>Last Offer Price: {{ lastOfferPrice }} EUR</p>
    <p>Starts At: {{ auction.starts_at|date('j. n. Y.') }}</p>
    <p>Ends At: {{ auction.ends_at|date('j. n. Y.') }}</p>
{% endblock %}

{% block naslov %}
{{ auction.title|escape }}
{% endblock %}